main {
  text-align: center;
}

#tayo {
  font-weight: bold;
  text-align: center;
}

#kuwadro {
  background-color: rgb(255, 243, 243);
  width: 100%;
}

#resizer {
  display: none;
}

#ikaw {
  display: none;
}

#arrows {
  display: none;
}
#arrows button.move {
  display: inline-block;
  width: 10%;
  cursor: pointer;
}

div, image, button, p, label, h1 {
  user-select:none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}