main {
  text-align: center;
}

#tayo {
  font-weight: bold;
  text-align: center;
}

#kuwadro {
  background-color: rgb(255, 243, 243);
  width: 100%;
}

#resizer {
  display: none;
}

#ikaw {
  display: none;
}

#arrows {
  display: none;
}
#arrows button.move {
  display: inline-block;
  width: 10%;
}

div, image, button {
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}