main {
  text-align: center;
}

#tayo {
  font-weight: bold;
  text-align: center;
}

#kuwadro {
  background-color: rgb(255, 243, 243);
  width: 100%;
}

#resizer, #posy, #posx {
  display: none;
}

#ikaw {
  display: none;
}

#arrows {
  display: none;
}
#arrows button.move {
  display: inline-block;
  width: 10%;
  cursor: pointer;
}

div, image, button, p, label, h1 {
  user-select:none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

header.header {
  background-color: snow;
}

header.header > h1 {
  color:#e22488;
  font-style: italic;
  font-family: Montserrat, san-serif;
}

button {
  background-color: #e22488;
  font-weight: bold;
}
a {
  color: #e22488 !important;
}